**/build
**/.kotlin/
**/.gradle/
**/.idea/
**/.git/
**/site/
/.codex/
**/kotlin-js-store/
*.log
*.iml
/local.properties
/docs/api/
/docs/contributing.md
.DS_Store
/captures
.externalNativeBuild
# Added by code-review-graph
.code-review-graph/
